*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: no-repeat url("../imagenes/INVERTIR-EN-TECNOLOGIA.png");
   /* background: src="/imagenes/INVERTIR-EN-TECNOLOGIA.png" no-repeat;*/
    background-size: cover;
    font-family:'Courier New', Courier, monospace ;
}

.limpiarEstilos{
    background:none;
}

.box  {
    width: 500px;
    background: rgba(0, 0, 0, .6);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
    border-radius: 15px;
    text-align: center;
}
.contacto {
    width: 500px;
    background: rgba(0, 0, 0, .6);
    margin: 0 auto;
    padding: 20px;
    color: white;
    border-radius: 15px;
    text-align: left;
}
.contacto a{
    color:aliceblue;
    text-decoration: none;
    
}
.box-form{
    width: 800px;
    background: rgba(0, 0, 0, .6);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
    border-radius: 15px;
    text-align: center;
}
.box-conozcame {
    width: 1000px;
    background: rgba(0, 0, 0, .6);
    margin: 0 auto;
    margin-top: 4%;
    padding: 50px;
    color: white;
    border-radius: 15px;
    text-align: left;
}
.seccion-form{
    text-align: left;
    margin:0 40%;
}
.boton{
    width: 100px;
    padding: 7px;
    margin: 10px;
}
.box-img{
    border-radius: 60%;
}
.box h1{
    font-size: 35px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 20px;

}

.box h2{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;

}

.box p  {
    text-align: justify;
}

.box ul{
    list-style: none;
    margin-top: 20px;

}
.box ul li{
    display: inline-block;
}
.box a, .box-form a, .box-conozcame a, .boton a{
    text-decoration: none;
    color: rgb(143, 207, 226);
    font-size: 25px;
    padding: 5px 45px;
    display: block;
    transition: all .5s ease-in-out;
    text-align: center;
}

 a:hover{
    color: rgb(39, 180, 223);
    transform: scale(1.1);
}

