*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("/imagenes/INVERTIR-EN-TECNOLOGIA.png") no-repeat;
    background-size: cover;
    font-family:'Courier New', Courier, monospace ;
}

.box{
    width: 500px;
    background: rgba(0, 0, 0, .6);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
    border-radius: 15px;
    text-align: center;
}
.box-img{
    border-radius: 50%;
}
.box h1{
    font-size: 35px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 20px;

}

.box h2{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;

}

.box p{
    text-align: justify;
}

.box ul{
    list-style: none;
    margin-top: 20px;

}
.box ul li{
    display: inline-block;
}
.box ul li a{
    color: rgb(142, 187, 201);
    font-size: 25px;
    padding: 10px 45px;
    display: block;
    transition: all .5s ease-in-out;
}

.box ul li a:hover{
    color: rgb(39, 180, 223);
    transform: scale(1.1);
}